
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header{
    background: #585858;
    height: 150px;
}

section {
    background: #959595;
    width: 100%;
    height: calc(100% - 100px)
}

footer {
    background: #131313;
    height: 100px;
    width: 100%;
}

div {
    margin: 0 200px;
    height: calc(100vh - 150px);
    background: #b62222
}

